# Database credentials
MYSQL_ROOT_PASSWORD=example_root_password
MYSQL_DATABASE=example_db
MYSQL_USER=example_user
MYSQL_PASSWORD=example_password

# Volumes paths
# PYTHON_APP_PATH=../python  # Default path, uncomment to override
# MARIADB_CONFIG_PATH=../mariadb/conf.d  # Default path, uncomment to override
