# Database credentials
MARIADB_ROOT_PASSWORD=secret
MARIADB_DATABASE=vector
MARIADB_USER=v_user
MARIADB_PASSWORD=v_password

# Volumes paths
# PYTHON_APP_PATH=../python  # Default path, uncomment to override
# MARIADB_CONFIG_PATH=../mariadb/conf.d  # Default path, uncomment to override
# MARIADB_INIT_PATH=../mariadb/init  # Default path, uncomment to override
